<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css'/>
    <link rel="stylesheet" href="css/all.min.css" >
    <title>Vue TodoMVC</title>
  </head>
  <body>
    
    <!-- 大標題todos -->
    <header>
        <h1>todos</h1>
    </header>

    <!-- 填寫todolist的區塊 -->
    <div class="container" id="app">

        <!-- 輸入代辦項目的區塊（包含選取全部項目的下拉式icon和input區塊) -->
        <div class="inputLine listStyle">

            <!-- 選取全部todo的icon -->
            <div class="chevronIcon">
              <i class="fas fa-chevron-down" id="selectAll"></i>
            </div>

            <!-- 輸入項目的區塊 -->
            <input 
              type="text" 
              placeholder="What needs to be done?" 
              value="" 
              id="inputPress"
              v-model="newTodo"
              v-on:keyup.enter="addTodo"
              >

        </div>

        <!-- <ul class="completeList">

          <li class="listText listStyle" v-for="item in todos">
            <span><i class="far fa-check-circle"></i></span>
            <input class="checkList" type="text" :value=item.content>
            <span><i class="fas fa-times"></i></span>
          </li>

        </ul> -->
        
        <div class="activeList">

          <div class="listText listStyle" v-for="item in todos">
            <span><i class="far fa-circle"></i></span>
            <input 
              type="text" 
              :value=item.content
              v-on:click="editTodo(item)"
              >
            <span><i class="fas fa-times" v-on:click="removeTodo(item)"></i></span>
          </div>
          
        </div>

        <!-- 操作和修改提示 -->
        <div class="botInfo">
      
          <div class="listNum">
            <!-- 計算目前todolist的數量 -->
            <span class="itemNum">0</span> items left

          </div>

          <span class="unPick" id="allTodo">All</span>
          <span class="unPick" id="activeTodo">Active</span>
          <span class="unPick" id="completeTodo">Completed</span>
          <span class="unPick" id="clearAll" >Clear completed</span>
      
        </div>

    </div>



    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js' integrity='sha512-o9SZrtqlGkpa7EF+dDrNjEdRFFYhymlrBzDKpolHNolxsyx0IcXAbEm9i1e8QpoiMgEdKZVtY8XiK1t8i6jVDA==' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.13.0/sweetalert2.all.js'></script>
    <script src="all.js"></script>
  </body>
</html>