<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css'/>
    <link rel="stylesheet" href="css/all.min.css" >
    <title>Vue TodoMVC</title>
  </head>
  <body>
    
    <!-- 大標題todos -->
    <header>
        <h1>todos</h1>
    </header>

    <!-- 填寫todolist的區塊 -->
    <div class="container" id="app">

        <!-- 輸入代辦項目的區塊（包含選取全部項目的下拉式icon和input區塊) -->
        <div class="inputLine listStyle">

            <!-- 選取全部todo的icon -->
            <div class="chevronIcon">
              <i 
                class="fas fa-chevron-down" 
                id="selectAll" 
                v-on:click="selAllTodo"
              >
              </i>
            </div>

            <!-- 輸入項目的區塊 -->
            <input 
              type="text" 
              placeholder="What needs to be done?" 
              value="" 
              id="inputPress"
              v-model="newTodo"
              v-on:keyup.enter="addTodo"
              >

        </div>
        
        <div class="activeList">

          <div class="listText listStyle" v-for="todo in activeTodos">

            <span><i class="far fa-circle" v-on:click="selectTodo(todo)"></i></span>
            <input
              class="grey"
              type="text" 
              v-if="editContent === todo"
              v-model="editedTodo"
              v-on:keyup.enter="doneTodo(todo)"
            >
            <label
              v-if="editContent !== todo"
              v-on:dblclick="editTodo(todo)"
            >{{todo.content}}</label>
            <span><i class="fas fa-times" v-on:click="removeTodo(todo)"></i></span>

          </div>
          
        </div>

        <ul class="completeList" v-for="todo in completeTodos">

          <li class="listText listStyle">
            <span><i class="far fa-check-circle" v-on:click="cancleTodo(todo)"></i></span>
            <label class="checkList">
              {{todo.content}}
            </label>
            <span><i class="fas fa-times" v-on:click="removeDoneTodo(todo)"></i></span>
          </li>

        </ul>

        <!-- 操作和修改提示 -->
        <div class="botInfo">
      
          <div class="listNum">
            <!-- 計算目前todolist的數量 -->
            <span class="itemNum">0</span> items left

          </div>

          <span class="unPick" id="allTodo">All</span>
          <span class="unPick" id="activeTodo">Active</span>
          <span class="unPick" id="completeTodo">Completed</span>
          <span class="unPick" id="clearAll" v-on:click="delSelTodo">Clear completed</span>
      
        </div>
        
          <span class="infoMsg infoColor">Double-click to edit a todo</span>
          <span class="infoColor">Written by Suo Chan</span>

    </div>



    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js' integrity='sha512-o9SZrtqlGkpa7EF+dDrNjEdRFFYhymlrBzDKpolHNolxsyx0IcXAbEm9i1e8QpoiMgEdKZVtY8XiK1t8i6jVDA==' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.13.0/sweetalert2.all.js'></script>
    <script src="all.js"></script>
  </body>
</html>